.header {
    background-color: var(--color-white);
    border-radius: var(--radius-small);
    border: double 6px var(--color-black);
    padding: 16px;
    width: max-content;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    height: 180px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.header-pokedollars {
    display: flex;
    justify-content: space-between;
}

.header-exp {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-pokemon-name {
    display: flex;
    justify-content: space-between;
}

.xp-bar {
    --value: 0%;
    width: 100%;
    height: 16px;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-black);
    border-radius: var(--radius-medium);
    position: relative;
}

.xp-bar__fill {
    position: absolute;
    inset: 0 auto 0 0;
    width: 25%; /* var(--value) */
    border-radius: var(--radius-medium);
    background: var(--color-green);
    transition: width 400ms ease;
}