.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    visibility: hidden;
}

.logo {
  max-width: 650px;
  margin-top: 24px;
}

.start-btn {
    font-family: var(--font-family-main);
    background-color: var(--color-white);
    border-radius: var(--radius-small);
    border: double 6px var(--color-black);
    padding: 4px;
    cursor: pointer;
}

.start-btn:hover {
    transform: scale(1.05);
}

.home-pokemon {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.pokemon-starter {
    width: 300px;
    height: auto;
}
