.item-card {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: var(--color-card-bg);
  border-radius: var(--radius-medium);
  padding: 12px;
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  flex-shrink: 0;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  flex-grow: 1;
}

.item-name {
  font-size: var(--font-size-base);
  margin-bottom: 4px;
}

.item-description {
  font-size: var(--font-size-text);
}

.item-number {
  margin-left: 12px;
}